<div class="container mt-5">
    <div class="d-flex justify-content-center"style="height: 60vh;" >
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)" class="text-center mx-auto w-75 align-self-center">
        <h2 class="mb-4">REGISTAR MI CUENTA</h2>
        <div class="form-group my-2">
            <input type="text" class="form-control w-50 mx-auto p-4 m-2" placeholder="Nombre de usuario." formControlName="nombre">
             <div *ngIf="signUpForm.controls.nombre.invalid && signUpForm.controls.nombre.dirty">
                  <p class="danger">Nombre es obligatorio</p>
             </div>
        </div>
        <div class="form-group my-2">
            <input type="email" class="form-control w-50 mx-auto p-4 m-2" placeholder="Correo electronico." formControlName="correo"
            [ngClass]="{
                'danger' : signUpForm.controls.correo.invalid && (signUpForm.controls.correo.dirty || signUpForm.controls.correo.touched)
            }">
             <div *ngIf="signUpForm.controls.correo.invalid && signUpForm.controls.correo.dirty">
                    <p class="danger">Correo no es valido</p>
             </div>
             <div *ngIf="canSignUp">
                <p class="danger">Este correo ya esta registrado.</p>
            </div>
        </div>
        <div class="form-group my-2">
            <input type="password" class="form-control w-50 mx-auto p-4 m-2" placeholder="Contraseña." formControlName="password">
             <div *ngIf="signUpForm.controls.password.errors && (signUpForm.controls.password.dirty || signUpForm.controls.password.touched)">
                 <p class="danger" *ngIf="signUpForm.controls.password.errors.required">Contraseña obligatorio</p>
                 <p class="danger" *ngIf="signUpForm.controls.password.errors.minlength">Almenos 8 caracteres para la contraseña</p>
             </div>
        </div>
     <div *ngIf="signUpForm.controls.password.errors">
        <button class="btn bg-gradient text-white mt-2 px-4 py-2 w-25 border-0" type="button">Sing Up</button>
     </div>
     <div  *ngIf="!signUpForm.controls.password.errors">
        <button class="btn bg-gradient text-white mt-2 px-4 py-2 w-25 border-0" type="submit">Sing Up</button>
     </div>
    </form>
    </div>
</div>