<div class="container">
    <div *ngIf="isthereAnySecrets(); else elseBlock">
      <div class="d-flex flex-row flex-wrap">
        <div *ngFor="let item of lista_secretos">
                <div class="card cont-card  m-2">
                    <div class="card-header">
                        <b class="card-title">Titulo:</b> <span class="mx-2"> {{item.titulo}}</span>
                    </div>
                    <div class="card-body">
                         <h6>Descripcion:</h6> <span>{{item.descripcion}}</span>
                         <h6>Lugar:</h6> <span>{{item.lugar}}</span>
                         <h6>Valor Monetario:</h6> <span>{{item.valor_monetario}}</span>
                         <h6>Coordenadas:</h6> <span>{{item.lat}} & {{item.lon}}</span>
                    </div>
                   <div class="position-absolute delete">
                        <a (click)="delete(item.idSecreto)" ><i class="far fa-trash-alt"></i></a>
                   </div>
                </div>
        </div>
      </div> 
     </div>
     <ng-template #elseBlock>
         <div class="d-flex justify-content-center" style="height: 76vh;">
               <div class="align-self-center text-center">
                    <h1>TODAVIA NO AGREGAS TU SECRETO.</h1>
                    <a [routerLink]="'/nuevo'" class="btn btn-dark text-white m-2">Añadir Nuevo Secreto</a>
               </div>
         </div>
     </ng-template>
</div>