<div class="container">
    <ng-template [ngIf]="lista_secretos">
      <div class="d-flex flex-row flex-wrap">
        <div *ngFor="let item of lista_secretos">
                <div class="card cont-card  m-2">
                    <div class="card-header">
                        <b class="card-title">Titulo:</b> <span class="mx-2"> {{item.titulo}}</span>
                    </div>
                    <div class="card-body">
                         <h6>Descripcion:</h6> <span>{{item.descripcion}}</span>
                         <h6>Lugar:</h6> <span>{{item.lugar}}</span>
                         <h6>Valor Monetario:</h6> <span>{{item.valor_monetario}}</span>
                         <h6>Coordenadas:</h6> <span>{{item.lat}} & {{item.lon}}</span>
                    </div>
                   <div class="position-absolute delete">
                        <a  [routerLink]="['/secretos', item.idSecreto]" ><i class="far fa-trash-alt"></i></a>
                   </div>
                </div>
        </div>
      </div> 
     </ng-template>
</div>