/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa:wght@400;600;700&display=swap');


body{
    background-color: #fdfdfd;
    font-family: 'Comfortaa', cursive;
}

.primary-color{
  /*  color: #ff4e18dc;*/
  color: rgba(255,128,0,1);
}

.bg-gradient{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,0.9360119047619048) 0%, rgba(255,128,0,1) 100%);
}


.input-bg{
    background-color: #fafafa;
}

h1, h2, h3, h4 {
    font-weight: 700;
    color: #ff4e18dc;
}


.circular-img{
     border-radius: 50%;
}