<div class="container mt-5">
    <form [formGroup]="modificarDatos" (ngSubmit)="onSubmitDatos(modificarDatos.value)" class="text-center mx-auto w-50">
        <h3 class="mb-4">Datos de la cuenta:</h3>
        <div class="form-group my-2">
            <input type="text" class="form-control mx-auto w-75  border p-4 m-2" placeholder="Nombre de usuario." formControlName="nombre">
        </div>
        <div class="form-group my-2">
            <input type="email" class="form-control mx-auto w-75 border p-4 m-2" placeholder="Correo electronico." formControlName="correo">
        </div>
        <button class="btn bg-gradient text-white m-2 ">Establecer cambios</button>
    </form>
</div>

<div class="container my-5">
    <form [formGroup]="modificarPass" (ngSubmit)="onSubmitPass(modificarPass.value)" class="text-center  mx-auto w-50">
        <h3 class="mb-4">Modificar Contraseña:</h3>
        <div class="form-group my-2">
            <input type="password" class="form-control w-75 mx-auto border p-4 m-2" placeholder="Contraseña Anterior" formControlName="claveAnterior">
        </div>
        <div class="form-group my-2">
            <input type="password" class="form-control w-75 mx-auto border p-4 m-2" placeholder="Nueva Contraseña" formControlName="claveNueva">
        </div>
        <div *ngIf="canChangePass">
            <p class="danger">Clave anterior es incorrecta.</p>
        </div>
        <button class="btn bg-gradient text-white m-2">Modificar contraseña</button>
    </form>
</div>