
<div class="container p-2">
    <form [formGroup]="nuevoSecreto" (ngSubmit)="onSubmit(nuevoSecreto.value)" class="text-center mx-auto w-75 align-self-center">
        <h2 class="mb-4">NUEVO SECRETO</h2>
        <div class="form-group my-2">
            <input type="text" class="form-control w-50 mx-auto " placeholder="Titulo" formControlName="titulo">
        </div>
        <div class="form-group my-2">
            <input type="text" class="form-control w-50 mx-auto " placeholder="lugar" formControlName="lugar">
        </div>
        <div class="form-group my-2">
            <input type="number" class="form-control w-50 mx-auto " placeholder="Valor monetario" formControlName="valor_monetario">
        </div>
        <div class="form-group my-2">
            <input type="date" class="form-control w-50 mx-auto " placeholder="fecha" formControlName="fecha">
        </div>
        <div class="form-group my-2">
            <input type="number" class="form-control w-50 mx-auto  " placeholder="longitud" formControlName="lon">
        </div>
        <div class="form-group my-2">
            <input type="number" class="form-control w-50 mx-auto " placeholder="latitud" formControlName="lat">
        </div>
        <div class="form-group my-2">
           <textarea  cols="30" rows="4" class="form-control w-50 mx-auto " placeholder="Escriba una descripcion" formControlName="descripcion"></textarea>
        </div>
        <div *ngIf="camposVacios">
            <p class="danger">Se requieren todos los campos.</p>
        </div>
        <button class="btn bg-gradient text-white py-2 w-25">Crear Secreto</button>
    </form>
</div>